<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backbone Tutorial Blogroll App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <div class="container">
      <h1>Backbone Tutorial Blogroll App</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>URL</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><input class="form-control author-input"></td>
          <td><input class="form-control title-input"></td>
          <td><input class="form-control url-input"></td>
          <td><button class="btn btn-primary add-blog">Add</td>
        </tr>
      </thead>
      <tbody class="blogs-list">

      </tbody>
    </table>
    <button type="button" name="button" class="btn btn-danger deleteall">Delete ALL</button>
    </div>

    <script type="text/template" class="blogs-list-template">
      <td><span class="author"><%= author %></span></td>
      <td><span class="title"><%= title %></span></td>
      <td><span class="url"><%= url %></span></td>
      <td><button class="btn btn-warning edit-blog">Edit</button>
        <button class="btn btn-danger delete-blog">Delete</button>
         <button class="btn btn-success update-blog" style="display:none">Update</button>
         <button class="btn btn-danger cancel" style="display:none">Cancel</button>
       </td>
    </script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="js/plugins/jquery/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/plugins/underscore/underscore.js"></script>
    <script src="js/plugins/backbone/backbone.js"></script>
    <script src="js/src/scripts.js"></script>
  </body>
</html>
